*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
}

a:link {
  text-decoration: none;
}

h3 {color: #717171}


ul {
  list-style: none;
}


.wrapper_top, .wrapper_bot  {
  max-width: 1160px;
  margin: 0 auto;
}

.main__menu {
  height: 120px;
  display: flex;
  align-items: center;
  /* z-index: 2; */
  justify-content: space-between;
}

.menu__panel {
  z-index: 2;
  display: flex;
  list-style: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 0px;
  height: 120px;
}

.menu__items {
  margin-left: 26px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent;
}

.menu__items > a {
  color: #ffffff;
  opacity: 60%;
}

.search_h,
.menu__items:hover > a > img:first-child {
  display: none;
}

.menu__items:hover > a > img:last-child {
  display: block;
  margin-bottom: 3px;
}

.menu__items:first-child {
  margin-left: 0;
}

.menu__items:hover,
.menu__items:hover > a {
  color: #18cfab;
}

.menu__items:hover {
  border-bottom: 2px inset #18cfab;
}

.logo__image {
  z-index: 2;
  display: flex;
  font-size: 22px;
  align-items: center;
}

.logo__name,
.logo__name2 {
  padding-left: 6px;
  font-size: 32px;
  color: #ffffff;
}

.text_recolor {
  font-weight: bold;
  padding-left: 0;
  font-size: 32px;
  color: #18cfab;
}

.logo_h {
  background-image: url(../img/H.svg);
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  width: 58px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.header_bg {
  background-image: url(../img/header_bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 1012px;
  top: 0px;
  z-index: -1;
  opacity: 80%;
}

.main__menu::after {
  position: absolute;
  top: 0px;
  content: "";
  width: 100%;
  height: 120px;
  background-color: rgba(94, 93, 88, 0.6);
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.introduction {
  margin-top: 264px;
}

.intro_text {
  font-size: 78px;
  font-weight: 700;
  text-transform: uppercase;
  align-self: center;
  text-align: center;
  color: white;
  margin: 22px;
}
.intro_text:first-child,
.intro_text span {
  font-size: 35px;
}

.intro_text:last-child {
  font-size: 34px;
  font-weight: 400;
  text-transform: none;
  color: #d4d4d4;
}

.buttons_top {
  display: flex;
  text-decoration: none;
  justify-content: center;
  z-index: 3;
  margin-bottom: 243px;
  margin-top: 129px;
}



.button_links {
  width: 170px;
  height: 55px;
  font-weight: 700;
  font-size: 15;
  color: white;
  text-align: center;
  padding: 19px 0 17px 0;
  margin: 0 10px;
  border-radius: 5px;
  top: 40px;
  background-color: #18cfab;
  border-color: white;
  box-shadow: 0px -5px;
  text-transform: uppercase;
}

.button_links:last-child {
  background-color: #00cbf6;
}

.blocks {
  margin-top: 0px;
  display: grid;
  grid-template-columns: repeat(4, calc(100% / 4));
  list-style: none;
  padding-left: 0px;
}

.blocks li {
  background-color: #18cfab;
}

.blocks li:nth-child(odd) {
  background-color: #1c2a33;
  color: #18cfab;
}

.each_block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 377px;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  padding-bottom: 110px;
}
.gallery-item {
  width: 20px;
  display: block;
}

.services_section {
  position: relative;
}

.section_headers {
  font-weight: 400; font-size 36px;
  text-align: center;
  padding: 83px 0;
  color: #4E4E4E;
  margin: 0 auto;
}

.section_headers:before {
  content: "";
  background-image: url(../img/divider.png);
  position: relative;
  content: "";
  display: block;
  width: 91px;
 height: 8px;
 top: 60px;
 left: calc(50% - 45px);
}


.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-left: 0;
  position: relative;
  margin-top: 0;
}

.tabs-title, .amazing_tabs-title {
  background-color: #EDEFEF;
  color: black;
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 76px;
  padding-left: 0;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
}

.amazing_tabs-title:last-child {border-right: 1px solid #DADADA}

.tabs-title:hover {border: 2px solid #18CFAB; color: #18CFAB}

.tabs-title.active {
  background-color: #18CFAB;
  color: white;
}

.amazing_tabs-title {border: 1px solid transparent}
.amazing_tabs-title.active2 {border: 1px solid #18CFAB; color: #18CFAB}

.toggletab {
  display: none;
}

.tabs-content {padding: 0}

.visible, .visible2 {
  color: #777777;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.8em;
  grid-area: prophecy;
  padding-left: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "image description";
  grid-gap: 20px;
}

.active:before{
   position: absolute;
  top: 65px;
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #18CFAB;
}

.second_title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #18CFAB;
  margin: 0;
}

.second_bg {
background-image: url(../img/bg_2.jpg);
background-repeat: no-repeat;
background-position: 50%;
background-size: cover;
}

.second_bg * {z-index: 5;}

.second_bg .button_links {background-color: #18cfab;margin-top: 67px}

.second_bg:nth-child(1) {color: #D8D8D8;}

.second_bg .wrapper_bot {display: flex;
  flex-direction: column  ;
  justify-content: center;
  align-items: center;
  height: 476px;}
  .second_bg:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 476px;
  background-color: rgb(0, 0, 0, 0.75);
   left: 51%;
  transform: translate(-51%);
}

.gallery {
display: flex;
flex-wrap: wrap;
list-style: none;
text-align: center;
padding-left: 0;
margin: 0;
margin-top: 0;
width: 100%;

}

.gallery_items {
  height: 206px;
overflow: hidden;
position: relative;
}

.load_more {
  width: 170px;
  display: block;
  font-weight: 700;
  font-size: 15;
  color: white;

  text-align: center;
  padding: 19px 0 17px 0;
  margin: 50px 0 0 0;
  border-radius: 5px;
  background-color: #18cfab;
  border-color: white;
  text-transform: uppercase;
}

.amazing_tabs {display: flex;
  padding-left: 0;
  justify-content: center;
  align-items: center;
width: 580px;
}

.amazing_tabs > li {border-left: 1px solid #DADADA;}

.amazing_work {display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-bottom: 100px}


.amazing_tabs-title {font-size: 14px;
  padding:15px;
  border-top: 2px solid #DADADA;
  border-bottom: 2px solid #DADADA;
}

.grey_bg {background-color: #E9EDEF;}

.gallery_items:hover .gallery_img
{position: absolute;   left: 0px;
transform: scale(0);
}

.gallery_items .gallery_img {
  transform: scale(1);
  transition: transform 0.2s ease-out;}

.hidetext {
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
width: 290px;
height: 206px;
border-top: 3px solid #18cfab;
margin: 0;
font-size: 12px;
font-weight: 300;
z-index: 2;
}

.hidetext p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: #18cfab;
margin-bottom: 10px}

.work_link1:hover{
	content: url(../img/el2.png);
}

.work_link2:hover {
  content: url(../img/el4.png);
}

.work_link1, .work_link2 {margin: 2px; margin-bottom: 25px}

.news {
	display: grid;
  grid-gap: 35px 35px;
  padding-left: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 130px;
}

.news-item {position: relative;background-color: #F8FCFE; color: #717171;}

.news-item:hover h3 {color: #18CFAB; transition: color 0.3s}

.news-item h3, p {margin-left: 10px;}

.news-item span {margin-left: 20px}

.date_cover {
  color: #fff;
	background-color: #203E38;
	width: 70px;
	padding: 6px 16px;
	text-align: center;
	position: absolute;
	top: 0px;
  right: 0px;
	font-size: 16px;
	line-height: 26px;
  text-decoration: none;
}

  .news-item:hover .date_cover {background-color: #18CFAB; transition: background-color 0.3s}

  /* slider */
  .slider {
    width: 915px;
    position: relative;
    padding-top: 250px;
    margin: 90px auto;
    text-align: center;
  }
  .slider > div {
    width: 915px;
    position: absolute;
    left: 0;
    top: -46px;
  }

  .slider > div p:nth-child(2) {
    text-transform: uppercase;
    color: #18cfab;
  }
  .slider input[name="slide_switch"] {
    display: none;
  }
  .slider p {
    text-align: center;
    margin: 15px 0;
    color: #bbb;
  }
  .slider div p:first-child {
    margin-bottom: 40px;
  }
  .slider div p:nth-child(2) {
    font-weight: bold;
  }
  .slider label {
    margin: 110px 15px 0 15px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 0 0 5px #2b5f62;
  }
  .slider div img {
    position: relative;
    margin-top: 35px;
    background: #fff;
  }
  .slider input[name="slide_switch"]:checked + label {
    box-shadow: 0 0 0 2px #18cfab, 0 0 0 7px #2b5f62;
    transform: translateY(-15px);
    transition: transform 1s;
  }
  .slider-img-down {
    display: block;
    background: #fff;
  }
  .slider input[name="slide_switch"] ~ div {
    opacity: 0;
    transform: translateY(50px);
  }
  .slider input[name="slide_switch"]:checked + label + div {
    opacity: 1;
    transform: translateY(0);
    transition: 2s;
    transition: 1s;
  }
  .slider input[name="slide_switch"]:checked + label + div img {
    box-shadow: 0 0 0 3px #18cfab, 0 0 0 14px #2b5f62;
    border-radius: 50%;
    position: relative;
  }
  #controls {
    position: absolute;
    opacity: 1;
    font-size: 0;
    top: 290px;
 }

  #controls label {
    box-shadow: none;
    margin: 0;
  }

  #id1:checked ~ #controls label:nth-child(4),
  #id2:checked ~ #controls label:nth-child(1),
  #id3:checked ~ #controls label:nth-child(2),
  #id4:checked ~ #controls label:nth-child(3) {
    background: url("../img/slider/left.svg") center  no-repeat;
    background-position: 45%;
    height: 17px;
    width: 17px;
    float: left;
    border: 2px solid #91969a;
    border-radius: 0;
    padding: 13px;
    margin-left: 220px;
    transform: translateY(40px);
  }

  #id1:checked ~ #controls label:nth-child(2),
  #id2:checked ~ #controls label:nth-child(3),
  #id3:checked ~ #controls label:nth-child(4),
  #id4:checked ~ #controls label:nth-child(1) {
    background: url("../img/slider/left.svg") center  no-repeat;
    background-position: 45%;
    transform: rotate(180deg);
    height: 17px;
    width: 17px;
    float: right;
    border: 2px solid #91969a;
    border-radius: 0;
    padding: 13px 13px 13px 13px;
    margin-right: 220px;
    transform: translateY(40px) rotate(180deg);;
  }

  #id1:checked ~ #controls label:nth-child(4):hover,
  #id2:checked ~ #controls label:nth-child(1):hover,
  #id3:checked ~ #controls label:nth-child(2):hover,
  #id4:checked ~ #controls label:nth-child(3):hover {
    background: url("../img/slider/left_w.svg") center  no-repeat;
    background-position: 45%;
    background-color: #18cfab;
    border-color: #18cfab;
    transform: translateY(40px);
  }

  #id1:checked ~ #controls label:nth-child(2):hover,
  #id2:checked ~ #controls label:nth-child(3):hover,
  #id3:checked ~ #controls label:nth-child(4):hover,
  #id4:checked ~ #controls label:nth-child(1):hover {
    background: url("../img/slider/left_w.svg") center  no-repeat;
    background-position: 45%;
    background-color: #18cfab;
    border-color: #18cfab;
    transform: translateY(40px) rotate(180deg);;
  }


.wrapper_bot > .section_headers {
  color: white; position: relative;
}

.slider:before {
  content: "";
  background-image: url(../img/slider/quotes.png);
  position: absolute;
  content: "";
  display: block;
  width: 44px;
 height: 30px;
 top: -100px;
 left: calc(50% - 22px);}


.third_bg {
  background-image: url(../img/bg_3.jpg);
  display: block;
  height: 850px;
}

 .third_bg:before {
   position: absolute;
  content: "";
  width: 100%;
  height: 850px;
  background-color: rgb(0, 0, 0, 0.5);
   left: 51%;
  z-index: 0;
  transform: translate(-51%);}

.item_masonry {
  margin-bottom: 10px;
  }

.footer {
  background-color: #22353F;
    height: 120px ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AEAEAE;
    margin-top: 0px;
}

.footer a {
  color: #18CFAB;
  margin-left: 5px;
  margin-right: 10px}
